venv
**.keras
**.h5
**.tensorflow
dist
.pytest_cache
**/.pytest_cache
**/__pycache
__pycache__
__pycache__/**
.idea
**/.idea/**
.ipynb_checkpoints
*.build
**runs
**.pth
**.lock
**.dat
**.xls
**.zip
**.venv/**
**runs**
**.csv
!tests/data/ratings-1m.csv
setups/*.json
